
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">
                    <h4 class="mb"><i class="fa fa-angle-right"></i> {{manager.username}}</h4>
                    <div class="row">
                        <div class="col-lg-4">
                            <img {{#if this.image}}src="{{this.image}}"{{else}}src="/images/friends/fr-06.jpg"{{/if}} class="img-circle" width="80">
                        </div>
                    </div>
                    <form class="form-horizontal style-form" method="post">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Fullname: </label>
                            <div class="col-sm-5">
                                <input type="text" name = "fullname" class="form-control" value="{{manager.fullname}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Birthday: </label>
                            <div class="col-sm-5">
                                <input type="date" class="form-control" name = "birthday" value ="{{manager.birthday}}"  >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Salary: </label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name = "salary" value ="{{manager.salary}}"  >
                            </div>
                        </div>
                        <button type="submit" id="btn-save">Save</button>           
                    </form>
                </div>
            </div><!-- col-lg-12-->      	
        </div><!-- /row -->
    </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->

<!--main content end-->
      