{{#section 'style'}}
<style>
    #order-product-card{
        position: fixed;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10000;
    }
    figure {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 375px;
        height: 600px;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        overflow: hidden;
    }
    figure:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    figure:hover img {
        transform: scale(1.25);
    }
    figure:hover figcaption {
        bottom: 0;
    }
    figure h1 {
        position: absolute;
        top: 50px;
        left: 20px;
        margin: 0;
        padding: 0;
        color: white;
        font-size: 40px;
        font-weight: 100;
        line-height: 1;
    }
    figure img {
        height: 100%;
        transition: 0.25s;
    }
    figure figcaption {
        position: absolute;
        bottom: -33%;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 30px;
        background-color: rgba(0, 0, 0, 0.85);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        color: white;
        line-height: 1;
        transition: 0.25s;
    }
    figure figcaption h3 {
        margin: 0 0 20px;
        padding: 0;
    }
    figure figcaption p {
        font-size: 14px;
        line-height: 1.75;
    }
    figure figcaption button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0 0;
        padding: 10px 30px;
        background-color: #1abc9c;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 14px;
    }
    figure figcaption button:disabled{
        background-color: gray;
        cursor: none;
    }
    #card-order-product{
        max-height: 300px;
        overflow-y: scroll;
    }

    ::-webkit-scrollbar{
        width: 0.5px;
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background: #1abc9c; 
        border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #1abc9c; 
        width: 5px;
    }
</style>
{{/section}}
<section id="main-content">
    <section class="wrapper">
        <div class="row mt">
            <div class="col-lg-12">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i>Orders</h4>
                    <section id="no-more-tables">
                        <table class="table table-bordered table-striped table-condensed cf">
                            <thead class="cf">
                                <tr>
                                    {{#each record.[0]}}
                                    {{#ifeq @key 'state_id'}}
                                    {{else}}
                                    <th>{{@key}}</th>
                                    {{/ifeq}}
                                    {{/each}}
                                </tr>
                            </thead>
                            <tbody>
                                {{#each record}}
                                    <tr>
                                    {{#each this}}
                                        {{#ifeq @key 'state_id'}}
                                        {{else}}
                                        <td data-title="{{@key}}">{{this}}</td>
                                        {{/ifeq}}
                                    {{/each}}
                                    {{#if this.id}}
                                        <td><a class="btn-view-order" data-id="{{this.id}}" data-state="{{this.state_id}}" data-cancel="{{this.cancel}}"><button>View Order</button></a></td>
                                    {{/if}}
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </section>
                </div><!-- /content-panel -->
                <div class="row">
                    <nav aria-label="...">
                        <ul class="pagination">
                            {{#if previous}}
                            <li class="page-item ">
                            <a class="page-link" href="/orders?page={{previous}}">Previous</a>
                            </li>
                            {{else}}
                            <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                            </li>
                            {{/if}}
                            {{#each pages}}
                            {{#ifeq this ../page}}
                            <li class="page-item active">
                            <span class="page-link">
                                {{this}}
                                <span class="sr-only">(current)</span>
                            </span>
                            </li>
                            {{else}}
                            <li class="page-item"><a class="page-link" href="/orders?page={{this}}">{{this}}</a></li>
                            {{/ifeq}}
                            {{/each}}
                            {{#if next}}
                            <li class="page-item ">
                            <a class="page-link" href="/orders?page={{next}}">Next</a>
                            </li>
                            {{else}}
                            <li class="page-item disabled">
                            <span class="page-link">Next</span>
                            </li>
                            {{/if}}
                        </ul>
                    </nav>
                </div>
                <div id="order-product-card" style="display: none;">
                    <figure class="image-block">
                        <h1 id="card-order-info" style="color:#1abc9c;">Order id</h1>
                        
                        <img id="card-order-image" src="https://images.pexels.com/photos/1680140/pexels-photo-1680140.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
                        <figcaption>
                            <h3>
                                Order Product
                            </h3>
                            <div id="card-order-product">
                                
                            </div>
                            <div id="btn-order-state" style="display: flex; align-items:center; justify-content:space-between;">
                                <button>
                                    Verify
                                </button>
                                <button>
                                    Delivering
                                </button>
                                <button>
                                    Arrived
                                </button>
                            </div>
                            <button id="card-close" style="background-color: orange;width:100%;">
                                Close
                            </button>
                        </figcaption>
                    </figure>
                </div>
            </div><!-- /col-lg-12 -->
        </div><!-- /row -->

    </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->
{{#section 'script'}}
<script>
    const btn_view_orders = document.querySelectorAll('.btn-view-order');
    const order_product_card = document.querySelector('#order-product-card');
    btn_view_orders.forEach(btn=>{
        const id= btn.dataset.id;
        const state = btn.dataset.state;
        const cancel = btn.dataset.cancel;
        const card_order_id = document.querySelector('#card-order-info');
        const card_order_image = document.querySelector('#card-order-image');
        const order_product_container = document.querySelector('#card-order-product');
        const btn_state = document.querySelectorAll('#btn-order-state button');
        btn.addEventListener('click',()=>{
            if(!id){
                return;
            }
            $.get(`/api/order/order_product/${id}`,(data,status)=>{
                if(status==='success'){
                    card_order_id.innerHTML=`Order:</br>${id}`;
                    for(let i=0;i<3;i++){
                        if(i<=parseInt(state) || cancel === 'true'){
                            btn_state[i].disabled = true;
                            btn_state[i].dataset.order_id = id;
                        }
                        else{
                            btn_state[i].disabled = false;
                            btn_state[i].dataset.order_id = id;
                        }
                    }
                    order_product_container.innerHTML="";
                    let img ='';
                    let maxQ = 0;
                    if(data.length >0){
                        data.forEach(pro=>{
                            const cost = Math.round((Math.round(parseFloat(pro.price)*100)/100)*parseInt(pro.quantity)*100)/100
                            const div =`<p>${pro.title}, quantity:${pro.quantity}, cost:${cost}</p>`;
                            order_product_container.innerHTML +=div;
                            if(maxQ<parseInt(pro.quantity)){
                                maxQ = parseInt(pro.quantity);
                                img = pro.image;
                            }
                        })
                        card_order_image.src=img;
                        order_product_card.style.display="block";
                    }
                    else{

                    }
                }
            })
        })
    })
    document.querySelector('#card-close').addEventListener('click',()=>{
        order_product_card.style.display="none";
    })
    const btn_state = document.querySelectorAll('#btn-order-state button');
    btn_state[1].addEventListener('click',()=>{
        const order_id = btn_state[1].dataset.order_id;
        $.post(`/api/order/set_state`,{
            order_id:order_id,
            state_id:1
        },(data,status)=>{
            btn_state[1].disabled=true;
        })
    })
    btn_state[2].addEventListener('click',()=>{
        const order_id = btn_state[2].dataset.order_id;
        $.post(`/api/order/set_state`,{
            order_id:order_id,
            state_id:2
        },(data,status)=>{
            btn_state[1].disabled=true;
            btn_state[2].disabled=true;
        })
    })
</script>
{{/section}}