
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">
                    <h4 class="mb"><i class="fa fa-angle-right"></i> {{table_name}}<i class="fa fa-angle-right"></i> {{record_id}}</h4>
                    <form class="form-horizontal style-form" method="get">
                        {{#each record}}
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">{{@key}}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="{{@key}}" value="{{this}}">
                            </div>
                            {{#ifeq @key 'image'}}
                            <img src="{{this}}" width="80">
                            {{/ifeq}}
                        </div>
                        {{/each}}
                        {{#if cate}}
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Category</label>
                            <select class="form-control" name="category">
                                {{#each cate}}
                                <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        {{/if}}
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div><!-- col-lg-12-->      	
        </div><!-- /row -->
    </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->

<!--main content end-->
      