
<section id="main-content">
    <section class="wrapper">
    <div class="row mt">
        <div class="col-lg-12">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i>{{table_name}}</h4>
                    <section id="no-more-tables">
                        <table class="table table-bordered table-striped table-condensed cf">
                            <thead class="cf">
                                <tr>
                                    {{#each record.[0]}}
                                    <th>{{@key}}</th>
                                    {{/each}}
                                </tr>
                            </thead>
                            <tbody>
                                {{#each record}}
                                    <tr>
                                    {{#each this}}
                                        <td data-title="{{@key}}">{{this}}</td>
                                    {{/each}}
                                    {{#if this.id}}
                                        <td><a href="/tables/{{../table_name}}/edit?recordId={{this.id}}"><button>Edit</button></a></td>
                                    {{/if}}
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </section>
                </div><!-- /content-panel -->
                <div class="row">
                        <nav aria-label="...">
                            <ul class="pagination">
                                {{#if previous}}
                                <li class="page-item ">
                                <a class="page-link" href="/tables/{{table_name}}?page={{previous}}">Previous</a>
                                </li>
                                {{else}}
                                <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                                </li>
                                {{/if}}
                                {{#each pages}}
                                {{#ifeq this ../page}}
                                <li class="page-item active">
                                <span class="page-link">
                                    {{this}}
                                    <span class="sr-only">(current)</span>
                                </span>
                                </li>
                                {{else}}
                                <li class="page-item"><a class="page-link" href="/tables/{{../table_name}}?page={{this}}">{{this}}</a></li>
                                {{/ifeq}}
                                {{/each}}
                                {{#if next}}
                                <li class="page-item ">
                                <a class="page-link" href="/tables/{{table_name}}?page={{next}}">Next</a>
                                </li>
                                {{else}}
                                <li class="page-item disabled">
                                <span class="page-link">Next</span>
                                </li>
                                {{/if}}
                            </ul>
                        </nav>
                    </div>
            </div><!-- /col-lg-12 -->
        </div><!-- /row -->

    </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->
