
<div class="row mt">
    <!-- SERVER STATUS PANELS -->
    <div class="col-md-4 col-sm-4 mb">
        <div class="white-panel pn donut-chart">
            <div class="white-header">
                <h5>DELIVERY STATUS {{dataOrder.month}}</h5>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-6 goleft">
                    <p><i class="fa fa-database"></i> {{dataOrder.percent}}% delivered</p>
                </div>
            </div>
            <canvas id="serverstatus01" height="120" width="120"></canvas>
            <script>
                var doughnutData = [    
                        {
                            value: {{dataOrder.count1}},
                            color:"#68dff0"
                        },
                        {
                            value : {{dataOrder.count2}},
                            color : "#fdfdfd"
                        }
                    ];
                    var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
            </script>
        </div><! --/grey-panel -->
    </div><!-- /col-md-4-->
    

    <div class="col-md-4 col-sm-4 mb">
        <div class="white-panel pn">
            <div class="white-header">
                <h5>TOP PRODUCT</h5>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-6 goleft">
                    <p><i class="fa fa-heart"></i> {{bestProduct.max}}</p>
                </div>
                <div class="col-sm-6 col-xs-6"></div>
            </div>
            <div class="centered">
                    <img src="{{bestProduct.image}}" width="120">
            </div>
        </div>
    </div><!-- /col-md-4 -->
    
    <div class="col-md-4 mb">
        <!-- WHITE PANEL - TOP USER -->
        <div class="white-panel pn">
            <div class="white-header">
                <h5>TOP USER</h5>
            </div>
            <p><img src="{{bestUser.image}}" class="img-circle" width="80"></p>
            <p><b>{{bestUser.name}}</b></p>
            <div class="row">
                <div class="col-md-6">
                    <p class="small mt">TOTAL ORDER</p>
                    <p>{{bestUser.total1}}</p>
                </div>
                <div class="col-md-6">
                    <p class="small mt">TOTAL SPEND</p>
                    <p>$ {{bestUser.total}}</p>
                </div>
            </div>
        </div>
    </div><!-- /col-md-4 -->
</div><!-- /row -->